<!-- NAVBAR -->
<header class="amazon-header">

    <!-- LOGO -->
    <div class="logo">
        🛒 <span>Index Mart</span>
    </div>

    <!-- SEARCH BAR -->
    <div class="search-container">

        <input 
            type="text"
            id="indexSearch"
            placeholder="Search Index Mart products..."
            autocomplete="off"
        >

        <button class="search-btn">🔍</button>

        <!-- search dropdown -->
        <div id="searchResults" class="search-results"></div>

    </div>

    <!-- NAV LINKS -->
    <div class="nav-links">

        {% if current_user.is_authenticated %}

            <a href="{{ url_for('product.index') }}">Home</a>

            <a href="/profile">
                Hello, {{ current_user.username }}
            </a>

            <a href="/cart">
                🛒 Cart 
                <span id="cartCount">
                    {{ current_user.cart|length if current_user.is_authenticated else 0 }}
                </span>
            </a>

            <a href="/my_orders">My Orders</a>

            <a href="/logout">Logout</a>

        {% else %}

            <a href="#" onclick="openLogin()">Login</a>

            <a href="/cart">Cart</a>

        {% endif %}

    </div>

</header>
