{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="grid">

{% for product in products %}

<div class="card">
    <img src="{{ product.image }}">
    <h3>{{ product.name }}</h3>
    <p class="price">₹{{ product.price }}</p>

    <button onclick="addToCart({{ product.id }})">
        Add to Cart
    </button>

</div>

{% endfor %}

</div>


<script>
function addToCart(id) {
    fetch("/add_to_cart", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ id: id })
    })
    .then(res => {
        if (res.status === 401) {
            window.location.href = "/login";
        } else if (res.ok) {
            window.location.href = "/cart";
        } else {
            alert("Error adding to cart");
        }
    })
    .catch(err => {
        console.error(err);
        alert("Something went wrong");
    });
}
</script>

{% endblock %}
