{% extends "base.html" %}
{% block content %}

<h2>My Orders</h2>

<table border="1" cellpadding="8" style="width:100%">
<tr>
    <th>Order No</th>
    <th>Total</th>
    <th>Status</th>
    <th>Date</th>
</tr>

{% for order in orders|groupby('order_number') %}
<tr>
    <td>
        <a href="/order/{{ order.grouper }}">
            {{ order.grouper }}
        </a>
    </td>
    <td>
        ₹{{ order.list | sum(attribute='total') }}
    </td>
    <td>{{ order.list[0].status }}</td>
    <td>{{ order.list[0].created_at.strftime('%d-%m-%Y') }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}
